
/_ReSharper.SharpIM
/SharpIM.5.1.ReSharper.user
/SharpIM.suo
/Build
SharpIM.Client/SharpIM.Client.pidb

SharpIM.Client/bin/Debug/SharpIM.Client.dll

SharpIM.Client/bin/Debug/SharpIM.Client.dll.mdb

SharpIM.userprefs

SharpIM.Server/SharpIM.Server.pidb

SharpIM/SharpIM.pidb
